<h2>Welcome, <%= @current_student.name%></h2>
<h3>Profile Info:</h3>

    <ol>
        <h4>Name:</h4>
        <%=@student.name%>
        <br> <br>
        <h4>Email:</h4>
        <%=@student.email%>
        <br> <br>
        <h4>Classes:</h4>
        <%Course.all.each do |c|%>
    <div>
    <%if c.user_id == @current_student.id%>
        <%=c.name%>

    <%end%>
    </div>
<%end%>
    </ol>

<br> <br>
<a href="/courses">Courses</a>
<br> <br>
<a href="/students/<%=@student.id%>/edit">Edit Profile</a>
<br> <br>
<a href="/logout">Logout</a>