<%# Index Route %>
<h2>Welcome, <%= @current_student.name%></h2>
<a href="/students/<%=@current_student.id%>">Back to Profile</a
<br>
<h3>Here are the current classes available:</h3>


<ol>
<%@course.each do |c|%>
   <%if c.user_id == nil%>
    <div>
        <a href="/courses/<%=c.id%>"><%=c.name%></a>
        <%else%>
        <h4><%=c.name%></h4>
        <p> No courses available </p>
    <%end%>
<%end%>
</div>
</ol>
<br>
<p> Select here to add a course to the list and enroll: </p>
<a href="/courses/new">Add Course</a>