<h2> Edit Course </h2>

<form method="post" action="/courses/<%=@course.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="name">Name:</label>
  <input type="text" name="name" value="<%=@course.name%>">
  
  <label for="description">Description:</label>
  <input type="text" name="description" value="<%=@course.description%>">

  <input type="submit" value="submit">
</form>

<form method="post" action="/courses/<%=@course.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <h3> <input type="submit" value="DELETE"> </h3>
</form>

<br>

<a href="/courses/<%=@course.id%>">Back</a>