<h2>Welcome, <%= @current_student.name%></h2>
<h3><%=@course.name%></h3>

<br>

<%if @course.user_id == @current_student.id%>
    <div>
        <p><%=@course.description%></p>
<%else%>
    <p>You Are Not Enrolled!</p>

<br>

<form method="POST" action="/courses">
    <input id="<%@course.id%>" type="hidden" name="id" value="<%=@course.id%>">
    <input type="submit" value="Enroll in Course">
</form>
<%end%>

<br>

<a href="/courses/<%=@course.id%>/edit">Edit Course</a>
<br>
<a href="/courses/new">Add New Course</a> 
<br>
<a href="/courses">Show All Courses</a>
<br>
<a href="/students/<%=@current_student.id%>">Profile</a>